In [5]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('hepatitis.csv')
df

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.0,85,18,4.0,61,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.9,135,42,3.5,61,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.7,96,32,4.0,61,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.0,105,200,4.0,61,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.9,95,28,4.0,75,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,1,46,1,2,2,1,1,1,2,1,2,1,1,1,7.6,105,242,3.3,50,2
138,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.9,126,142,4.3,61,2
139,2,61,1,1,2,1,1,2,1,2,2,1,2,2,0.8,75,20,4.1,61,2
140,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.5,81,19,4.1,48,2
141,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.2,100,19,3.1,42,2

In [13]:
df['sex'].unique()

array([2, 1])

In [14]:
df_01 = df[df['sex'] == 1]
df_01

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.50,61,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.00,61,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,105,200,4.00,61,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.00,75,1
5,1,51,1,1,2,1,2,1,2,2,1,1,2,2,1.42,105,85,3.81,61,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2,36,1,2,2,2,2,2,2,2,2,2,2,2,0.60,120,30,4.00,61,2
137,1,46,1,2,2,1,1,1,2,1,2,1,1,1,7.60,105,242,3.30,50,2
138,2,44,1,2,2,1,2,2,2,1,2,2,2,2,0.90,126,142,4.30,61,2
139,2,61,1,1,2,1,1,2,1,2,2,1,2,2,0.80,75,20,4.10,61,2
141,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.20,100,19,3.10,42,2

In [15]:
df_02 = df[df['sex'] == 2]
df_02

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.0,85,18,4.00,61,1
19,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.9,48,20,4.20,64,1
23,2,25,2,1,1,2,2,2,2,2,2,2,2,2,0.4,45,18,4.30,70,1
26,2,58,2,2,2,1,2,2,2,1,2,1,2,2,1.4,175,55,2.70,36,1
30,2,41,2,2,1,1,1,1,2,2,2,2,2,2,0.7,81,53,5.00,74,1
31,2,26,2,1,2,2,2,2,2,1,2,2,2,2,0.5,135,29,3.80,60,1
35,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.3,150,68,3.90,61,1
44,2,28,2,2,2,1,1,2,2,1,2,2,2,2,1.8,191,420,3.30,46,1
55,2,45,2,1,2,1,1,2,2,2,1,2,2,2,1.0,85,75,3.81,61,1
72,2,34,2,1,1,2,2,2,2,1,2,2,2,2,0.6,30,24,4.00,76,1
78,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.3,141,156,3.90,58,1
84,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.9,230,117,3.40,41,2
107,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.2,119,136,3.81,61,2
116,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.7,70,24,4.10,100,2
140,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.5,81,19,4.10,48,2

In [17]:
df_merge = pd.concat([df_01, df_02])
df_merge

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.50,61,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.00,61,1
3,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,105,200,4.00,61,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,0.90,95,28,4.00,75,1
5,1,51,1,1,2,1,2,1,2,2,1,1,2,2,1.42,105,85,3.81,61,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,2,62,2,2,2,1,1,2,2,1,2,1,2,2,1.30,141,156,3.90,58,1
84,2,50,2,1,2,1,2,2,1,1,1,1,2,2,0.90,230,117,3.40,41,2
107,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.20,119,136,3.81,61,2
116,2,34,2,2,2,1,1,1,1,1,2,1,2,2,0.70,70,24,4.10,100,2
140,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.50,81,19,4.10,48,2

In [19]:
df_sorted = df.sort_values(['age', 'sgot', 'protime'])
df_sorted

,class,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology
102,2,7,1,2,2,2,2,2,2,1,1,2,2,2,0.7,256,25,4.20,61,2
35,2,20,2,1,2,1,1,1,1,1,1,1,2,2,2.3,150,68,3.90,61,1
112,2,20,1,1,2,1,1,1,2,2,2,1,1,2,1.0,160,118,2.90,23,2
135,2,20,1,1,2,2,2,2,2,2,2,2,2,2,0.9,89,152,4.00,61,2
19,2,22,2,2,1,1,2,2,2,2,2,2,2,2,0.9,48,20,4.20,64,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,2,65,1,2,2,1,1,2,2,1,1,1,1,2,0.3,180,53,2.90,74,2
15,2,66,1,2,2,1,2,2,2,2,2,2,2,2,1.2,102,53,4.30,61,1
107,2,69,2,2,2,1,2,2,2,2,2,2,2,2,3.2,119,136,3.81,61,2
123,2,72,1,2,1,1,2,2,2,1,2,2,2,2,1.0,115,52,3.40,50,2
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.7,96,32,4.00,61,1

In [20]:
df_transposed = df.transpose()
df_transposed

,0,1,2,3,4,5,6,7,8,9,...,132,133,134,135,136,137,138,139,140,141
class,2.0,2.0,2.0,2.0,2.0,1.00,2.00,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0
age,30.0,50.0,78.0,34.0,34.0,51.00,23.00,39.0,30.0,39.0,...,49.0,45.0,31.0,20.0,36.0,46.0,44.0,61.0,53.0,43.0
sex,2.0,1.0,1.0,1.0,1.0,1.00,1.00,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0
steroid,1.0,1.0,2.0,2.0,2.0,1.00,2.00,2.0,2.0,1.0,...,1.0,2.0,1.0,1.0,2.0,2.0,2.0,1.0,1.0,2.0
antivirals,2.0,2.0,2.0,2.0,2.0,2.00,2.00,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
fatigue,2.0,1.0,1.0,2.0,2.0,1.00,2.00,1.0,2.0,2.0,...,1.0,1.0,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0
malaise,2.0,2.0,2.0,2.0,2.0,2.00,2.00,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,2.0,2.0
anorexia,2.0,2.0,2.0,2.0,2.0,1.00,2.00,2.0,2.0,2.0,...,2.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0
liver_big,1.0,1.0,2.0,2.0,2.0,2.00,2.00,2.0,2.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0
liver_firm,2.0,2.0,2.0,2.0,2.0,2.00,2.00,1.0,2.0,1.0,...,2.0,2.0,1.0,2.0,2.0,1.0,1.0,2.0,2.0,2.0
spleen_palable,2.0,2.0,2.0,2.0,2.0,1.00,2.00,2.0,2.0,2.0,...,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0
spiders,2.0,2.0,2.0,2.0,2.0,1.00,2.00,2.0,2.0,2.0,...,1.0,1.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,1.0
ascites,2.0,2.0,2.0,2.0,2.0,2.00,2.00,2.0,2.0,2.0,...,2.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,1.0
varices,2.0,2.0,2.0,2.0,2.0,2.00,2.00,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0
bilirubin,1.0,0.9,0.7,1.0,0.9,1.42,1.00,0.7,1.0,1.3,...,1.4,1.9,1.2,0.9,0.6,7.6,0.9,0.8,1.5,1.2
alk_phosphate,85.0,135.0,96.0,105.0,95.0,105.00,105.00,105.0,105.0,78.0,...,85.0,105.0,75.0,89.0,120.0,105.0,126.0,75.0,81.0,100.0
sgot,18.0,42.0,32.0,200.0,28.0,85.00,85.00,48.0,120.0,30.0,...,70.0,114.0,173.0,152.0,30.0,242.0,142.0,20.0,19.0,19.0
albumin,4.0,3.5,4.0,4.0,4.0,3.81,3.81,4.4,3.9,4.4,...,3.5,2.4,4.2,4.0,4.0,3.3,4.3,4.1,4.1,3.1
protime,61.0,61.0,61.0,61.0,75.0,61.00,61.00,61.0,61.0,85.0,...,35.0,61.0,54.0,61.0,61.0,50.0,61.0,61.0,48.0,42.0
histology,1.0,1.0,1.0,1.0,1.0,1.00,1.00,1.0,1.0,1.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [22]:
df_melt = pd.melt(df, id_vars=['class'], value_vars=['age', 'sex', 'steroid', 'antivirals', 'fatigue', 'malaise', 'anorexia', 'liver_big', 'liver_firm', 'spleen_palable', 'spiders', 'ascites', 'varices', 'bilirubin', 'alk_phosphate', 'sgot', 'albumin', 'protime', 'histology'], var_name='variable', value_name='value')
df_melt

      class   variable  value
0         2        age   30.0
1         2        age   50.0
2         2        age   78.0
3         2        age   34.0
4         2        age   34.0
...     ...        ...    ...
2693      1  histology    2.0
2694      2  histology    2.0
2695      2  histology    2.0
2696      2  histology    2.0
2697      1  histology    2.0

[2698 rows x 3 columns]

In [33]:
df_cast = pd.pivot_table(df,index=['class'])
df_cast.head()

,age,albumin,alk_phosphate,anorexia,antivirals,ascites,bilirubin,fatigue,histology,liver_big,liver_firm,malaise,protime,sex,sgot,spiders,spleen_palable,steroid,varices
class,,,,,,,,,,,,,,,,,,,
1,44.923077,3.239615,120.576923,1.653846,1.923077,1.538462,2.516154,1.076923,1.769231,1.884615,1.500000,1.269231,50.576923,1.00000,87.923077,1.269231,1.653846,1.423077,1.615385
2,39.896552,3.962931,102.301724,1.827586,1.818966,1.956897,1.128966,1.422414,1.370690,1.810345,1.603448,1.698276,64.198276,1.12931,82.517241,1.758621,1.844828,1.534483,1.939655