In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('Iris.csv', header=None)
df

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
df.columns = ['sepalLength','sepalWidth', 'petalLength', 'petalWidth', 'class']
df

     sepalLength  sepalWidth  petalLength  petalWidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
df.isnull().sum()

sepalLength    0
sepalWidth     0
petalLength    0
petalWidth     0
class          0
dtype: int64

In [8]:
df['class'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

## g. Create data subsets for different species

In [10]:
df_sub01 = df[df['class'] == 'Iris-setosa']
df_sub01.head()

   sepalLength  sepalWidth  petalLength  petalWidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [11]:
df_sub02 = df[df['class'] == 'Iris-versicolor']
df_sub02.head()

    sepalLength  sepalWidth  petalLength  petalWidth            class
50          7.0         3.2          4.7         1.4  Iris-versicolor
51          6.4         3.2          4.5         1.5  Iris-versicolor
52          6.9         3.1          4.9         1.5  Iris-versicolor
53          5.5         2.3          4.0         1.3  Iris-versicolor
54          6.5         2.8          4.6         1.5  Iris-versicolor

In [12]:
df_sub03 = df[df['class'] == 'Iris-virginica']
df_sub03.head()

     sepalLength  sepalWidth  petalLength  petalWidth           class
100          6.3         3.3          6.0         2.5  Iris-virginica
101          5.8         2.7          5.1         1.9  Iris-virginica
102          7.1         3.0          5.9         2.1  Iris-virginica
103          6.3         2.9          5.6         1.8  Iris-virginica
104          6.5         3.0          5.8         2.2  Iris-virginica

## h. Merge two subsets

In [16]:
df_merge = pd.concat([df_sub02, df_sub03])
df_merge

     sepalLength  sepalWidth  petalLength  petalWidth            class
50           7.0         3.2          4.7         1.4  Iris-versicolor
51           6.4         3.2          4.5         1.5  Iris-versicolor
52           6.9         3.1          4.9         1.5  Iris-versicolor
53           5.5         2.3          4.0         1.3  Iris-versicolor
54           6.5         2.8          4.6         1.5  Iris-versicolor
..           ...         ...          ...         ...              ...
145          6.7         3.0          5.2         2.3   Iris-virginica
146          6.3         2.5          5.0         1.9   Iris-virginica
147          6.5         3.0          5.2         2.0   Iris-virginica
148          6.2         3.4          5.4         2.3   Iris-virginica
149          5.9         3.0          5.1         1.8   Iris-virginica

[100 rows x 5 columns]

## i. Sort Data Petal Length

In [19]:
df_sort = df.sort_values(by=['petalLength'])
df_sort

     sepalLength  sepalWidth  petalLength  petalWidth           class
22           4.6         3.6          1.0         0.2     Iris-setosa
13           4.3         3.0          1.1         0.1     Iris-setosa
14           5.8         4.0          1.2         0.2     Iris-setosa
35           5.0         3.2          1.2         0.2     Iris-setosa
36           5.5         3.5          1.3         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
131          7.9         3.8          6.4         2.0  Iris-virginica
105          7.6         3.0          6.6         2.1  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica

[150 rows x 5 columns]

## j. Transposing Data

In [20]:
df_transpose = df.transpose()
df_transpose

,0,1,2,3,4,5,6,7,8,9,...,140,141,142,143,144,145,146,147,148,149
sepalLength,5.1,4.9,4.7,4.6,5.0,5.4,4.6,5.0,4.4,4.9,...,6.7,6.9,5.8,6.8,6.7,6.7,6.3,6.5,6.2,5.9
sepalWidth,3.5,3.0,3.2,3.1,3.6,3.9,3.4,3.4,2.9,3.1,...,3.1,3.1,2.7,3.2,3.3,3.0,2.5,3.0,3.4,3.0
petalLength,1.4,1.4,1.3,1.5,1.4,1.7,1.4,1.5,1.4,1.5,...,5.6,5.1,5.1,5.9,5.7,5.2,5.0,5.2,5.4,5.1
petalWidth,0.2,0.2,0.2,0.2,0.2,0.4,0.3,0.2,0.2,0.1,...,2.4,2.3,1.9,2.3,2.5,2.3,1.9,2.0,2.3,1.8
class,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,Iris-setosa,...,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica,Iris-virginica

## k. Melting Data to long format

In [21]:
df_melt = pd.melt(df, id_vars=['sepalLength', 'sepalWidth'])
df_melt

     sepalLength  sepalWidth     variable           value
0            5.1         3.5  petalLength             1.4
1            4.9         3.0  petalLength             1.4
2            4.7         3.2  petalLength             1.3
3            4.6         3.1  petalLength             1.5
4            5.0         3.6  petalLength             1.4
..           ...         ...          ...             ...
445          6.7         3.0        class  Iris-virginica
446          6.3         2.5        class  Iris-virginica
447          6.5         3.0        class  Iris-virginica
448          6.2         3.4        class  Iris-virginica
449          5.9         3.0        class  Iris-virginica

[450 rows x 4 columns]

In [34]:
df_melt02 = pd.melt(df, id_vars=['class'])
df_melt02

              class     variable  value
0       Iris-setosa  sepalLength    5.1
1       Iris-setosa  sepalLength    4.9
2       Iris-setosa  sepalLength    4.7
3       Iris-setosa  sepalLength    4.6
4       Iris-setosa  sepalLength    5.0
..              ...          ...    ...
595  Iris-virginica   petalWidth    2.3
596  Iris-virginica   petalWidth    1.9
597  Iris-virginica   petalWidth    2.0
598  Iris-virginica   petalWidth    2.3
599  Iris-virginica   petalWidth    1.8

[600 rows x 3 columns]

## l. Casting data to wide format

In [35]:
df_long = pd.pivot_table(df, index='class')
df_long

                 petalLength  petalWidth  sepalLength  sepalWidth
class
Iris-setosa            1.464       0.244        5.006       3.418
Iris-versicolor        4.260       1.326        5.936       2.770
Iris-virginica         5.552       2.026        6.588       2.974